@model DDR.Models.Post

@{

    ViewData["Title"] = "Home";
    Layout = "_Layout";

}

<h1>@Html.DisplayFor(m => Model.Title)</h1>
<p>@Html.DisplayFor(m => Model.Content)</p>

<br />
<h4>Comments</h4>
@foreach (var comment in Model.Comments)
{
    <ul>
    <li><b>@Html.DisplayFor(c => comment.UserName)</b> wrote, <i>"@Html.DisplayFor(c => comment.Content)"</i></li>
    </ul>
        <form method="post" action="@Url.Action("DeleteComment")">
        <input type="hidden" value="@comment.CommentId" />
        <button type="submit">Delete Comment</button>
        </form>
}
.

<p>@Html.ActionLink("Add Comment", "CreateComment", "Blog", new { id = Model.PostId})</p>
<p>@Html.ActionLink("Go Back", "Index", "Home")</p>