@model IEnumerable<DDR.Models.Post>

@{

    ViewData["Title"] = "Home";
    Layout = "_Layout";

}


<h1>Blog Posts</h1>

@foreach (var post in Model)
{

    <ul>
    <li><h3>@Html.DisplayFor(modelpost => @post.Title)</h3></li>
    <p>  @Html.ActionLink("DETAILS", "Details", "Blog", new { id = @post.PostId}) |  @Html.ActionLink("EDIT", "Edit", "Blog", new { id = @post.PostId}) | @Html.ActionLink("DELETE", "Delete", "Blog", new { id = @post.PostId}) |</p>
    </ul>
}

<p>@Html.ActionLink("Add Post", "Create", "Blog")</p>
<p>@Html.ActionLink("Go Back", "Index", "Home")</p>